header {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  

#logo{
    height: 40px;
    margin-top: -1px;
}

.active{
    color: black !important;
    text-decoration: underline !important;
}

header li a {
    color: white !important;
    text-decoration: none;
}

header li:not(:first-child) a:hover {
    color: black !important;
}




