.home-title {
  position: relative;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/vitalfresh-53b01.appspot.com/o/vitalfresh%2Fbackground-fruit.jpg?alt=media&token=3d56b8ab-7435-4660-a81f-88d2eb8a5397");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.home-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 67, 67, 0.17);
}

.home-title h1,
.home-title p,
.home-title img {
  position: relative;
  z-index: 1;
}

.home-title::before,
.home-title::after {
  mix-blend-mode: multiply;
}

.home-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/images/home/background-fruit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(90%);
}

.home-about h1,
.home-products h1 {
  color: white !important;
}

.home-products a {
  text-decoration: none;
}

.home-products .col .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}